* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  background-color: ghostwhite;
  line-height: 1.4;
  font-family: Arial, Helvetica, sans-serif;
}
#main-doc {
  display: flex;
  /* width: 75%; */
  flex-direction: column;
  border-left: 4px solid gray;
  position: absolute;
  left: 25%;
}

#navbar {
  display: flex;
  flex-direction: column;
  /* width: 25%; */
  margin-left: 1.2rem;
  position: absolute;
  right: 75%;
  position: fixed;
  width: 25%;
  flex-wrap: wrap;
}
header {
  padding: 1.2rem;
  font-weight: 700;
}
p {
  margin-left: 2rem;
  padding: 1.4rem;
}
code {
  margin-left: 5rem;
  background-color: lightgray;
  display: block;
  padding: 5px;
}
ul {
  margin-left: 5rem;
  padding: 1.3rem;
}

a {
  text-decoration: none;
  color: black;
}

.nav-link {
  /* margin-left: 1.3rem; */
  padding: 15px;
  border-bottom: 1px solid gray;
  width: 100%;
}
@media (max-width: 650px) {
  body {
    font-size: 0.875rem;
  }
}
